body {
  margin: 0;
  padding-top: 65px;
  font-family: sans-serif;
}

.link {
  color: #fff;
  text-decoration: none;
}

.logo {
  width: 500px;
  height: 500px;
  display: block;
  margin: 0 auto;
}
